.contact-container {
    position: relative;
}

.contact-card {
    background-color: white;
    color: black;
    border-radius: 16px;
    position: absolute;
    top: 60px;
    left: 60px;
    padding: 20px;
    min-width: 400px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
}

.contact-card h2, 
.contact-card h3 {
    margin-top: 0;
    margin-bottom: 8px;
} 

.contact-card h2 {
    text-align: center;
}

.contact-card > .contact-details {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px 0px 0px;
}

.contact-card > .contact-details > div {
    margin-bottom: 20px;
}

.contact-actions {
    text-align: center;
    padding: 20px 0px 10px;
}

.contact-actions a {
    color: #a27233;
    text-decoration: none;
    padding: 8px;
    border: 2px solid #a27233;  
    border-radius: 8px;  
}

.contact-actions a:hover {
    background-color: #a27233;
    color: white;
}

#contact-form-wrapper {
    background-color: white;
    color: black;
    padding: 100px 20px 40px;
}

#contact-form {
    width: 60%;
    margin: auto;
}

#contact-form > h2 {
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

#contact-form > form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-group,
.form-action {
    padding: 10px 20px;
}

.form-group > * {
    display: block;
    width: 100%;
    padding: 8px;
}

#contact-form > form .form-group:nth-child(3) {
    grid-column: 1 / 3; /* grid-column: grid-column-start / grid-column-end; */
}

.form-group > input,
.form-group > textarea,
.form-action > button  {
    border-radius: 8px;
    font-size: 16px;
}

.form-action button {
    background-color: #a27233;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border: 2px solid #a27233;  
    border-radius: 8px;  
    font-size: 20px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

.form-action button:hover {
    background-color: white;
    color: #a27233;
    cursor: pointer;
}
