.event-card {
    background-color: white;
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 400px;
    color: black;
    margin-bottom: 20px;
    justify-content: space-between;
}

.event-card img {
    width: 100%;
    height: 100%;
}

.event-card > div {
    padding: 20px;
}

.event-card > div > h2 {
    margin-top: 0;
}

.event-card .event-dates {
    position: relative;
    padding-left: 48px;
}

.event-card .event-dates .ico-calendar {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}