#home-page-content {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    color: white;
}

#home-page-content article {
    position: relative;
    height: 600px;
    border-bottom: 2px solid white;
}

#home-page-content article .main-card {
    background-color: rgb(255 255 255 / 75%);
    color: black;
    width: 600px;
    padding: 20px;
    position: absolute;
    top: 60px;
}

#home-page-content article:nth-child(odd) .main-card {
    left: 60px;
}

#home-page-content article:nth-child(even) .main-card {
    right: 60px;
}

#home-page-content img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}